[alias]
    # shorthand
    s = status
    co = checkout
    cm = ! git add . && git commit -m

    # utilities
    current = rev-parse --abbrev-ref HEAD
    rename = branch -m
    save = ! git add . && git commit -m 'progress save'
    last = show -s --format='%s'
    uncommit = reset HEAD^
    reset-to-remote = ! git fetch origin && git reset --hard origin/$(git current)
    changes = diff --name-status origin/master
    checkout-pr = ! git fetch origin pull/$1/head:pr/$1 && git checkout pr/$1
    amend = ! git add . && git commit --amend --reuse-message=HEAD

    # Fun commands
    whats-up = status
    pushup = ! git push -u origin $(git current)
    me-up-there = push --force

[user]
    email = mmmewk@gmail.com
    name = Matthew Koppe
[pull]
    rebase = false
[push]
    autoSetupRemote = true
[init]
    defaultBranch = main
